* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-family: "Poppins";
}

#tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-content {
    background-color: #f2f2f2;
}

.column {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #ddd;
}

tr, .table-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

button {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}