* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

.container {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

p {
	line-height: 4rem;
	text-align: center;
}

.btnConsultar {
	height: 40px;
	width: 150px;
	color: white;
	background-color: rgb(0, 170, 0);
	cursor: pointer;
}
.btnConsultar:hover {
	filter: brightness(90%);
}